USE [master]
GO
/****** Object:  Database [MovieScheduler]    Script Date: 03/15/2014 16:30:20 ******/
CREATE DATABASE [MovieScheduler] ON  PRIMARY 
( NAME = N'MovieScheduler', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\MovieScheduler.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MovieScheduler_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\MovieScheduler_log.LDF' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MovieScheduler].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MovieScheduler]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 03/15/2014 16:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Movie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Producer] [nvarchar](50) NULL,
	[Length] [nvarchar](50) NULL,
	[Type] [nvarchar](100) NULL,
	[Image] [varchar](200) NULL,
	[DetailLink] [varchar](200) NULL,
	[Info] [nvarchar](max) NULL,
	[MvSource] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Movie] ON
SET IDENTITY_INSERT [dbo].[Movie] OFF
/****** Object:  Table [dbo].[Scheduler]    Script Date: 03/15/2014 16:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Scheduler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NULL,
	[CumRap] [varchar](30) NULL,
	[TenRap] [nvarchar](50) NULL,
	[NgayChieu] [varchar](10) NULL,
	[SuatChieu] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Scheduler] ON
INSERT [dbo].[Scheduler] ([ID], [MovieID], [CumRap], [TenRap], [NgayChieu], [SuatChieu]) VALUES (1, 387, N'Lotte', N'NamSaiGon', N'15/03/2014', N'11:05  13:40  16:15  18:50  21:25  17:10')
INSERT [dbo].[Scheduler] ([ID], [MovieID], [CumRap], [TenRap], [NgayChieu], [SuatChieu]) VALUES (2, 387, N'Lotte', N'NamSaiGon', N'16/03/2014', N'11:05  13:40  16:15  18:50  21:25  17:10')
INSERT [dbo].[Scheduler] ([ID], [MovieID], [CumRap], [TenRap], [NgayChieu], [SuatChieu]) VALUES (3, 387, N'Lotte', N'NamSaiGon', N'17/03/2014', N'11:05  13:40  16:15  18:50  21:25  17:10')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
SET IDENTITY_INSERT [dbo].[Scheduler] OFF
/****** Object:  ForeignKey [FK__Scheduler__Movie__0519C6AF]    Script Date: 03/15/2014 16:30:21 ******/
ALTER TABLE [dbo].[Scheduler]  WITH CHECK ADD FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movie] ([Id])
GO
